@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/*----- Banner Css -----*/
.round-shape {
  display: block;
  width: 45px;
  height: 45px;
  background: #d3e3fc;
  border-radius: 50%;
  animation: bannerhalfBounce 2s infinite;
  animation-delay: .1s;
  position: absolute;
  left: -17px;
  top: -11px;
  z-index: 1;
}

@keyframes bannerhalfBounce {
  0%,
  100% {
    transform: scale(.5)
  }
  50% {
    transform: scale(1)
  }
}

/*------------------------------------------------------
/ 6. Login Page
/------------------------------------------------------*/
.sec-title {
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 18px;
  position: relative;
  z-index: 2;
}

.sec-desc {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: #8e8d8d;
  margin: 0 0 55px;
}

.login-section {
  position: relative;
  padding: 120px 0;
}

.login-form {
  position: relative;
  padding-right: 60px;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  height: 45px;
  font-size: 14px;
  line-height: 45px;
  font-weight: 400;
  border: none;
  background: #f6f7fb;
  color: #7d7d7d;
  outline: none;
  padding: 0 25px;
  margin-bottom: 30px;
}

.login-form input[type="text"]::-moz-placeholder,
.login-form input[type="email"]::-moz-placeholder,
.login-form input[type="password"]::-moz-placeholder {
  color: #7d7d7d;
  opacity: 1;
}

.login-form input[type="text"]::-ms-input-placeholder,
.login-form input[type="email"]::-ms-input-placeholder,
.login-form input[type="password"]::-ms-input-placeholder {
  color: #7d7d7d;
  opacity: 1;
}

.login-form input[type="text"]::-webkit-input-placeholder,
.login-form input[type="email"]::-webkit-input-placeholder,
.login-form input[type="password"]::-webkit-input-placeholder {
  color: #7d7d7d;
  opacity: 1;
}

.keep-log-regi {
  position: relative;
  margin: 0 0 36px;
  line-height: .8;
  display: inline-block;
}

.keep-log-regi input[type=radio] {
  display: none;
  margin: 0;
}

.keep-log-regi label {
  position: relative;
  font-size: 15px;
  line-height: 26px;
  color: #7d7d7d;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding-left: 29px;
  cursor: pointer;
}

.keep-log-regi label:before {
  width: 17px;
  height: 17px;
  position: absolute;
  content: '';
  top: 5px;
  left: 0;
  background: transparent;
  border: 1px solid #b7b7b7;
  border-radius: 50%;
}

.keep-log-regi input[type=radio]:checked + label::after {
  background: #3160d8;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  content: '';
  position: absolute;
  left: 4px;
  top: 9px;
}

.login-form a {
  display: inline-block;
  font-size: 15px;
  line-height: 26px;
  color: #3160d8;
  margin-left: 47px;
}

.login-form a:hover {
  color: #000;
}

.login-form input[type="submit"] {
  display: block;
  height: 45px;
  background: #000;
  text-align: center;
  color: #fff;
  line-height: 40px;
  font-weight: 700;
  font-size: 14px;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 0 78px;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.login-form input[type="submit"]:hover {
  background: #3160d8;
  color: #fff;
}

.social-log-regi {
  margin: 51px 0 0;
  display: flex;
  justify-content: flex-start;
}

.social-log-regi h5 {
  font-size: 14px;
  line-height: 18px;
  color: #a1a1a1;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  padding-right: 47px;
}

.social-log-regi a {
  display: inline-block;
  font-size: 18px;
  line-height: .8;
  color: #959595;
  margin-right: 36px;
}

.social-log-regi a:hover {
  color: #3160d8;
}

.social-log-regi a:last-child {
  margin-right: 0;
}

.register-form {
  position: relative;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="number"],
.register-form input[type="password"] {
  width: 100%;
  height: 45px;
  font-size: 14px;
  line-height: 45px;
  font-weight: 400;
  border: none;
  background: #f6f7fb;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  color: #7d7d7d;
  outline: none;
  padding: 0 25px;
  margin-bottom: 30px;
}

.register-form input[type="text"]::-moz-placeholder,
.register-form input[type="number"]::-moz-placeholder,
.register-form input[type="email"]::-moz-placeholder,
.register-form input[type="password"]::-moz-placeholder {
  color: #7d7d7d;
  opacity: 1;
}

.register-form input[type="text"]::-ms-input-placeholder,
.register-form input[type="number"]::-ms-input-placeholder,
.register-form input[type="email"]::-ms-input-placeholder,
.register-form input[type="password"]::-ms-input-placeholder {
  color: #7d7d7d;
  opacity: 1;
}

.register-form input[type="text"]::-webkit-input-placeholder,
.register-form input[type="number"]::-webkit-input-placeholder,
.register-form input[type="email"]::-webkit-input-placeholder,
.register-form input[type="password"]::-webkit-input-placeholder {
  color: #7d7d7d;
  opacity: 1;
}

.register-form .keep-log-regi {
  margin-top: 10px;
}

.register-form input[type="submit"] {
  display: block;
  height: 45px;
  background: #000;
  text-align: center;
  color: #fff;
  line-height: 40px;
  font-weight: 700;
  font-size: 14px;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 0 78px;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.register-form input[type="submit"]:hover {
  background: #3160d8;
  color: #fff;
}
